:root {
  --text-color: rgba(0, 0, 0, 0.85);
  --text-color-sec: rgba(0, 0, 0, 0.65);
  --text-color-other: rgba(0, 0, 0, 0.45);
}

* {
  font-size: 14px;
  color: var(--text-color);
}

body {
  line-height: 1.5;
}

.resume {
  padding: 18px 24px;

  h1,
  h2,
  h3 {
    margin: 0;
    margin-bottom: 4px;
  }

  h1 {
    font-size: 20px;
    line-height: 1em;
  }

  h2 {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 4px;
  }

  h2::after {
    content: "   ";
    box-sizing: border-box;
    flex: 1;
    display: block;
    height: 1px;
    width: 100%;
    margin-left: 16px;
    background-color: var(--text-color-sec);
  }

  h3 {
    font-size: 16px;
    margin-top: 8px;
    line-height: 1.2em;
    a {
      font-size: 16px;
    }
    em {
      font-weight: normal;
    }
    &:has(em) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:has(code) {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  }

  code {
    border: 1px solid #000;
    padding: 2px 6px;
    border-radius: 99px;
    font-family: Consolas;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 1.2em;
  }

  a {
    text-decoration: none;
  }

  em {
    color: var(--text-color-other);
    font-size: 13px;
    font-style: normal;
    margin-left: auto;
  }

  p {
    margin: 0;
    &:not(:has(*)) {
      margin: 6px 0 5px;
    }

    &:has(em) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    strong {
      font-size: 0.9em;
    }

    &:has(strong) strong {
      color: var(--text-color);
    }

    code {
      font-size: 0.9rem;
    }
  }

  ul {
    margin: 0;
    margin-left: 20px;

    padding-left: 0;
  }
}

@media print {
  .resume {
    padding-top: 0;
  }
}
